@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --primary-bg:#000;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--primary-bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
